.Navbar {
    height: 100px;
    float: left;
    width: 100%;
    background-color: black;
}

.Navbar-logo img {
    width: 15%;
    height: 90px;
    float: left;
}

.Navbar-menu {
    width: 60%;
    float: left;
    display: flex;
    margin-left: 250px;
}

.Navbar-menu ul li :hover{
    color: rgb(255, 0, 0);  
}

.Navbar-menu ul li {
    float: left;
    font-size: 20px;
    display: flex;
    padding: 35px;
    list-style: none;
    color: white;
    font-family: 'sans-serif';
}

.Navbar-menu a {
    text-decoration: none;
    display: flex;
    color: white;
}

.Navbar-btn button:hover{
    background: linear-gradient(#922e2e , #07085e);
}

.Navbar-btn button   {
    width: 10%;
    float: left;
    padding: 10px;
    background: linear-gradient(#1546da, #da1546);
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}


.Navbar-btn button i {
    color: white;
    
}

.Navbar-btn button a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}